In [90]:
#!pip install pandas
#!pip install fuzzywuzzy
#!pip install thefuzz
#!pip install python-Levenshtein
#!pip install python-Levenshtein-wheels
#!pip install openpyxl

In [91]:
import pandas
from fuzzywuzzy import fuzz

# Replaces %90 and more similar strings  
def func(input_list):
    for i in range(len(input_list)):
        for j in range(len(input_list)):
            if i < j and fuzz.ratio(input_list[i], input_list[j]) >= 85:
                input_list[i] = input_list[j] # Keep the last encountered item
                # Use following line to keep the first encountered item
                # input_list[j] = input_list[i]
                
    return input_list

In [92]:
#Lendo o CSV e criando o data frame
df = pandas.read_csv('./Empresas.csv', encoding='UTF-8') # Read data from csv
df.dropna(inplace=True) # Drop rows with NaN values
df.replace("–", "", regex=True, inplace=True) # Remove hyphens from strings

In [93]:
df

                                              Empresa
0                                ABASKERVILLE TRADING
1                                                 ACS
2                                   AGRO FONTE ALTA A
3                                  ALDABRA COFFEE LLC
4                                       AMIUS LIMITED
..                                                ...
183  WOLTHERS & ASSOCIATES CORRETORA DE MERCADORIAS A
184                                   WWWCACIQUECOMBR
185                                       YARA BRASIL
186                         YARA BRASIL FERTILIZANTES
187                      YARA BRASIL FERTILIZANTES SA

[188 rows x 1 columns]

In [94]:

result = []

column_values = list(df['Empresa'])

result.append(func(column_values))

new_df = pandas.DataFrame(result).transpose() 
new_df.columns = ['Empresa']

print(new_df)

                                              Empresa
0                                ABASKERVILLE TRADING
1                                                 ACS
2                                   AGRO FONTE ALTA A
3                                  ALDABRA COFFEE LLC
4                                       AMIUS LIMITED
..                                                ...
183  WOLTHERS & ASSOCIATES CORRETORA DE MERCADORIAS A
184                                   WWWCACIQUECOMBR
185                                       YARA BRASIL
186                      YARA BRASIL FERTILIZANTES SA
187                      YARA BRASIL FERTILIZANTES SA

[188 rows x 1 columns]

In [95]:
#salvando o CSV sem remover as duplicatas
new_df.to_csv('Empresas_tratada_85.csv', index=False, sep=',')

In [96]:
new_df_sem_duplicatas = new_df.drop_duplicates(subset=['Empresa'])
new_df_sem_duplicatas.to_csv('Empresas_tratada_sem_duplicatas_85.csv', index=False, sep=',')