In [72]:
#!pip install pandas
#!pip install fuzzywuzzy
#!pip install thefuzz
#!pip install python-Levenshtein
#!pip install python-Levenshtein-wheels

In [73]:
import pandas
from fuzzywuzzy import fuzz

# Replaces %90 and more similar strings  
def func(input_list):
    for count, item in enumerate(input_list):
        rest_of_input_list = input_list[:count] + input_list[count + 1:]
        new_list = []
        for other_item in rest_of_input_list:
            similarity = fuzz.ratio(item, other_item)
            if similarity >= 85:
                new_list.append(item)
            else:
                new_list.append(other_item)
        input_list = new_list[:count] + [item] + new_list[count :]
                
    return input_list

In [74]:
#Lendo o CSV e criando o data frame
df = pandas.read_csv('./Empresas.csv', encoding='UTF-8') # Read data from csv
df.dropna(inplace=True) # Drop rows with NaN values
df.replace(" ", "", regex=True, inplace=True) # Remove spaces from strings
df.replace("–", "", regex=True, inplace=True) # Remove hyphens from strings

In [75]:
df

                                        Empresa
0                           ABASKERVILLETRADING
1                                           ACS
2                                AGROFONTEALTAA
3                              ALDABRACOFFEELLC
4                                  AMIUSLIMITED
..                                          ...
183  WOLTHERS&ASSOCIATESCORRETORADEMERCADORIASA
184                             WWWCACIQUECOMBR
185                                  YARABRASIL
186                     YARABRASILFERTILIZANTES
187                   YARABRASILFERTILIZANTESSA

[188 rows x 1 columns]

In [76]:

result = []
for column in list(df):
    column_values = list(df[column])
    first_words = [x[:x.index(" ")] if " " in x else x for x in column_values]
    result.append(func(first_words))
    
new_df = pandas.DataFrame(result).transpose() 
new_df.columns = list(df)


print(new_df)

                                        Empresa
0                           ABASKERVILLETRADING
1                                           ACS
2                                AGROFONTEALTAA
3                              ALDABRACOFFEELLC
4                                  AMIUSLIMITED
..                                          ...
183  WOLTHERS&ASSOCIATESCORRETORADEMERCADORIASA
184                             WWWCACIQUECOMBR
185                                  YARABRASIL
186                   YARABRASILFERTILIZANTESSA
187                   YARABRASILFERTILIZANTESSA

[188 rows x 1 columns]

In [77]:
new_df.to_csv('Empresas_tratada_85.csv', index=False)